//Palette

$gray: #8f8c7f
$white: #FFFFFF
$light_gray: #DDD
$black: #4f4b4b

.s
	text-decoration: line-through

body
	font-family: "Lucida Grande", Verdana, sans-serif
	background: $gray url("/images/bg.jpg") repeat scroll 0 0
#contents
	width: 960px
	margin: 0 auto
	#header
		text-align: center
		padding-top: 100px
		#definitions
			text-align: left
			color: $white
			font-family: Georgia, serif
			font-style: normal
			font-weight: bold
			font-size: 24px
			letter-spacing: -0.05em
			text-shadow: rgba(0,0,0,0.5) 1px 1px 2px 
			.term
				font-style: italic
				font-size: 30px
				color: $white
			