#contents
	#header
		%img#logo{:src => "/images/logo.png"}
		%h1#tagline Una reunión informal de personas interesadas en experimentar los límites de los sistemas así como en construir cosas nuevas por curiosidad intelectual y simple diversión. En otras palabras, una Fiesta Hacker.
	.hr
	#main
		%h2 El SHDH es...
		#inclusive.box
			%h3 Inclusivo
			%p El SHDH es tecnológicamente agnóstico. Es tan válido trabajar con software como con hardware. Es tan aceptable trabajar con tecnologías de fuente abierta y libre como con herramientas propietarias. El SHDH es tan inclusivo que puedes hacer en él carpintería o alta cocina. 
		#hands_on.box
			%h3 Manos a la obra
			%p En el SHDH la gente trabaja, construye, teclea, dibuja, solda, martilla y programa, entre otras cosas. El intercambio de ideas y conocimientos es una consecuencia de esto, no una actividad primaria de la fiesta.
		#fun.box
			%h3 Divertido
			%p A pesar de las apariencias, el SHDH no se trata de ser productivo ni de ser competitivo; simplemente consiste en hacer lo que nos gusta hacer y pasar un buen rato con otras personas que piensan como nosotros.
