#contents
	#header
		%img#logo{:src => "/images/logo.png"}
		%h1#tagline Una reunión informal de personas interesadas en experimentar los límites de los sistemas así como en construir cosas nuevas por curiosidad intelectual y simple diversión. En otras palabras, una Fiesta Hacker.
	.hr
